<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                    <resource id="Magelearn_ProductsGrid::item" title="Magelearn Item Grid" sortOrder="25">
                        <resource id="Magelearn_ProductsGrid::post" title="Posts" sortOrder="10"/>
                        <resource id="Magelearn_ProductsGrid::tag" title="Tags" sortOrder="20"/>
                        <resource id="Magelearn_ProductsGrid::category" title="Categories" sortOrder="30"/>
                    </resource>
            </resource>
        </resources>
    </acl>
</config>
